body{
	background-color: rgba(0,0,0,0.5) !important;
	text-align: center !important;
	background-image: url(image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-shadow: 4px;
}
.logout{
	padding-left: 1100px;  
	text-shadow: 4px;
	color: black;
	}
.container{
	background-color: rgba(255,255,255,0.3);
}